.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .location {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }
  /* .image__link {
      color: aliceblue;
      background-image: url("https://cdn-image.departures.com/sites/default/files/styles/responsive_900x600/public/1559227325/nashville-skyline-NASHVILLE0519.jpg?itok=KaM7KpTO");
      width:3rem;
      height: 3rem;
      padding: 5rem;
  }
  .oneTwo{
      color: aliceblue;
      background-color: black;
      padding: 8rem;
  } */